.localStorageValue .css-i29lv1-control{
    min-height: fit-content;
}

.localStorageValue .css-art2ul-ValueContainer2{
    padding: 0 0;
}

.localStorageValue .css-w9q2zk-Input2 {
    padding: 0 0;
    margin: 0;
}