.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
}

.productNameContainer{
  position: relative
}

.clear-button {
  position: absolute;
  top: -3px;
  right: -5px;
}